@import 'util.styl';
@import 'colors.styl';

.notes-window {
  .notes-box {
    border-spacing: 6px;

    row {
      border-radius: 12px;
    }
  }

  .notes {
    padding: 0 6px 6px 6px;
  }

  .note-view {
    padding: 12px;
  }

  .search-bar {
    padding: 0 3px 12px;
  }

  listview > row {
    background-color: inherit;
  }

  .card-text-view {
    background-color: transparent;
    color: inherit;
  }
}

for name, info in colors {
  .note-card.style-{name} {
    background-color: info.bg_dark;
    color: info.fg_dark;

    selection:focus-within {
      background-color: gtkalpha(
        info.ink,
        0.3
      );
    }
  }
}
