@import 'util.styl';
@import 'colors.styl';
@import 'notes-dark.styl';

for name, info in colors {
  .container.style-{name} {
    &, & popover > arrow, & popover > contents, .toolbar-container, ~/ {
      background-color: info.bg_dark;
      color: info.fg_dark;
    }
  }

  .container.style-{name} .header-bar {
    color: info.fg_dark;
    background-color: info.header_dark;
  }
}