@import 'colors.styl';
@import 'notes.styl';
@import 'util.styl';

.container {
  transition: 0.35s background-color ease-out, 0.35s color ease-out;
}

.text-view {
  background-color: transparent;
  color: inherit;
}

.header-bar, .toolbar-container {
  transition: none;
}

.container:not(:focus-within) {
  .header-bar, .toolbar-container {
    transition: 0.25s opacity ease-out;
    opacity: 0;

    &:hover {
      opacity: 1;
      transition: 0;
    }
  }

  .header-bar:backdrop > * {
    opacity: 1;
  }
}

for name, info in colors {
  .container.style-{name} {
    &, & popover > arrow, & popover > contents, .toolbar-container, ~/ {
      background-color: info.bg;
      color: info.fg;
    }
  }

  .container.style-{name} .header-bar {
    background-color: info.header;
  }
}

// most hacky thing ever
// basically this defines link_color_yellow, link_color_pink, etc
for color, variables in colors {
  c = unquote(d + 'hello' (variables.link));
  d = join('_', 'link_color', color);
  e = join(
    ' ',
    d,
    variables.link
  );
  @define-color {e};
}
