@import 'colors.styl';
@import 'notes-dark.styl';
@import 'util.styl';

toolbarview.note-window {
  for name, info in colors {
    &.style-{name} {
      .text-view, .bottom-bar, popover > arrow, popover > contents {
        color: info.fg_dark;
        background-color: info.bg_dark;
      }

      .top-bar {
        color: info.fg_dark;
        background-color: info.header_dark;
      }
    }
  }
}