@import 'util.styl';

colors = {
  yellow: {
    header: #ffee92,
    bg: #fff6cb,
    ink: #000,
    fg: #000,
    link: #3f00ff,
    hc: #ffdb28
  },
  pink: {
    header: #ffc5e1,
    bg: #ffe3f1,
    ink: #007041,
    fg: #000,
    link: #3f00ff,
    hc: #ff1988
  },
  green: {
    header: #d1ebcb,
    bg: #e7f6e4,
    ink: #8907c8,
    fg: #000,
    link: #3f00ff,
    hc: #50ff2d
  },
  purple: {
    header: #e2d0f5,
    bg: #f2e5ff,
    ink: #016681,
    fg: #000,
    link: #3f00ff,
    hc: #9123ff
  },
  blue: {
    header: #cce7ff,
    bg: #e7f3ff,
    ink: #f14e00,
    fg: #000,
    link: #3f00ff,
    hc: #239fff
  },
  gray: {
    header: #dddad8,
    bg: #edebe9,
    ink: #302821,
    fg: #000,
    link: #3f00ff,
    hc: #e5e5e5
  },
  charcoal: {
    header: #3f3d3c,
    bg: #5e5e5e,
    ink: #fff,
    fg: #fff,
    link: #b4faff,
    hc: #6d6d6d
  },
  window: {
    header: at(headerbar_bg_color),
    bg: at(window_bg_color),
    ink: at(window_fg_color),
    fg: at(window_fg_color),
    link: at(accent_bg_color),
    hc: at(accent_fg_color)
  }
};