.notes-window {
  .notes {
    padding: 0 6px 6px 6px;
  }

  .note-view {
    padding: 12px;
    margin-bottom: 6px;
  }

  .search-bar {
    padding: 0 3px 12px;
  }

  list > row {
    background-color: inherit;
  }

  .no-background {
    background-color: transparent;
  }
}