@import 'colors.styl';
@import 'notes.styl';

.container {
  transition: 0.35s background-color ease-out, 0.35s color ease-out;
}

.header-bar {
  color: inherit;
}

.text-view {
  background-color: transparent;
  padding: 12px;
  color: inherit;
}

.header-bar, .toolbar, .separator {
  transition: none;
}

.container:not(:focus-within) {
  .header-bar, .toolbar, .separator {
    transition: 0.25s opacity ease-out;
    opacity: 0;
  }
}

.note-card {
  background-size: 100% 6px;
  background-repeat: no-repeat;
}

for name, info in colors {
  .container.style-{name} {
    &, & popover > arrow, & popover > contents {
      background-color: info.bg;
      color: info.fg;
    }
  }

  .note-card.style-{name} {
    background-image: linear-gradient(
      to bottom,
      info.hc,
      info.hc
    );
  }

  .container.style-{name} .header-bar {
    background-color: info.header;
  }
}
