@define-color transparent_overlay rgba(0, 0, 0, 0.1);

.header-bar {
  background-color: inherit;
  background-image: linear-gradient(to bottom, @transparent_overlay, @transparent_overlay);
}

.container.style-accent {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

.container.style-destructive {
  background-color: @destructive_bg_color;
  color: @destructive_fg_color;
}

.container.style-success {
  background-color: @success_bg_color;
  color: @success_fg_color;
}

.container.style-warning {
  background-color: @warning_bg_color;
  color: @warning_fg_color;
}

.container.style-error {
  background-color: @error_bg_color;
  color: @error_fg_color;
}

.container.style-window {
  background-color: @window_bg_color;
  color: @window_fg_color;
}

.container.style-window .header-bar {
  background-color: @headerbar_bg_color;
  color: @headerbar_fg_color;
  background-image: none;
}

.text-view {
  background-color: transparent;
  padding: 12px;
  color: inherit;
}

.header-bar,
.toolbar,
.separator {
  transition: none;
}

.container:not(:focus-within) .header-bar,
.container:not(:focus-within) .toolbar,
.container:not(:focus-within) .separator {
  transition: .25s opacity ease-out;
  opacity: 0;
}
