themeselector {
  margin: 9px;
}

themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px var(--border-color);
}

themeselector checkbutton.follow:checked,
themeselector checkbutton.light:checked,
themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px var(--accent-bg-color);
}

themeselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}

themeselector checkbutton.light {
  background-color: #fff;
}

themeselector checkbutton.dark {
  background-color: #202020;
}

themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}

themeselector checkbutton radio:checked {
  -gtk-icon-source: -gtk-icontheme('object-select-symbolic');
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
